
.topnav {
  background-color: #000;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #000;
  
}

.topnav a.active {
  background-color: #000;
  
}

body {
  background-image: url("cartoon.jpg");
  background-size: cover;
}
