h1 {
  color:
  font-size:
}

body {
  background-image: url("cartoon.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
